<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :register_from %><br />
    <%= f.text_field :register_from %>
  </div>
  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid %>
  </div>
  <div class="field">
    <%= f.label :membership %><br />
    <%= f.number_field :membership %>
  </div>
  <div class="field">
    <%= f.label :period %><br />
    <%= f.datetime_select :period %>
  </div>
  <div class="field">
    <%= f.label :auto_renewal %><br />
    <%= f.check_box :auto_renewal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
